/* Mobile first design */
body {
    margin: 0 auto;
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 30px 0;
}

.logo {
    max-width: 30%;
    height: auto;
}

#polls-container {
    text-align: center;
    color: white;
    font-family: "ExtraBold";
    font-size: large;
}

#options {
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5vw;
}

.option-btn,
.submit-btn {
    padding: 15px 60px;
    font-size: 25px;
    width: 100%;
    font-family: 'Regular';
}

.submit-btn {
    background-color: white;
    color: #986bf9;
    border-color: #8C8C8C;
}

.option-btn {
    background-color: #986bf972;
    border-color: #fff;
    opacity: 0.9;
    color: #ffff;
}

.submit-button {
    width: 100%;
}

.question {
    white-space: pre-line;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 2.5vh;
}

.option-btn.selected {
    border-color: black;
    background-color: white;
    color: #986bf9;
}

.option-button {
    margin-bottom: 10vw;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.option-btn:hover {
    border-color: black;
    background-color: white;
    color: #986bf9;
}

/* Confirmation page */

#vote-container {
    text-align: center;
    color: white;
    font-family: "ExtraBold";
    white-space: pre-line;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-block;
    font-size: 35px;
    margin-bottom: 10vh;
}
.option-box {
    padding: 15px 80px;
    font-size: 25px;
    width: 100%;
    font-family: 'Regular';
    background-color: #986bf972;
    border: 2px solid #fff;
    opacity: 0.9;
    color: #ffff;
    border-radius: 5px;
    color: #ffff;
    margin-bottom: 5vh;
    position: relative;
}

.progress-bar {
    position: relative; /* Add relative positioning */
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
}

.filled {
    height: 100%;
    background-color: #996BF9;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.option-text {
    position: relative;
    z-index: 2;
    text-align: center;
}

.percentage {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}



/* Screens larger than mobile */
@media screen and (min-width: 768px) {
    header {
        padding: 30px 0;
    }

    .submit-btn,
    .option-btn {
        width: 45vw;
    }

    .logo {
        max-width: 12vw;
        height: auto;
    }

    .option-button {
        margin-bottom: 2vw;
    }

    .submit-button {
        margin-bottom: 2vw;
    }

    .question {
        white-space: pre-line;
        max-width: 30vw;
        word-wrap: break-word;
        display: inline-block;
        font-size: 2.5vw;
    }

    /*Confirmation Page*/
    #vote-container {
    text-align: center;
    color: white;
    font-family: "ExtraBold";
    white-space: pre-line;
    max-width: 40vw;
    word-wrap: break-word;
    display: inline-block;
    font-size: 35px;
    margin-bottom: 10vh;
}
.option-box {
    padding: 15px 80px;
    font-size: 25px;
    width: 30vw;
    font-family: 'Regular';
    background-color: #986bf972;
    border: 2px solid #fff;
    opacity: 0.9;
    color: #ffff;
    border-radius: 5px;
    color: #ffff;
    margin-bottom: 5vh;
    position: relative;
}

.progress-bar {
    position: relative; /* Add relative positioning */
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
}

.filled {
    height: 100%;
    background-color: #996BF9;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.option-text {
    position: relative;
    z-index: 2;
    text-align: center;
}

.percentage {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}
}


@font-face {
    font-family: "Regular";
    src: url('../assets/Outfit/static/Outfit-Regular.ttf');
}

@font-face {
    font-family: "ExtraBold";
    src: url('../assets/Outfit/static/Outfit-ExtraBold.ttf');
}